﻿@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    background-image: linear-gradient(#F0EBDF, #EA8859);
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 3em;
    text-align: center;
    color: #232A75;
}

h2 {
    text-align: center;
    color: #232A75;
}

fieldset {
    background-color: #F0EBDF;
    margin-left: 10%;
    margin-right: 10%;
}

legend {
    position: absolute;
    left: -10000px;
}

input {
    font-size: 1em;
}

#termsCondition-styling {
    margin-top: 10px;
    font-size: 1.2em;
    color: #002C2F;
    font-weight: 500;
    text-align: center;
}

.radiobutton {
    width: 100%;
}

#submitButton {
    text-align: center;
}

.button {
}

#termsCondition-styling {

}